* {
  box-sizing: border-box;
}

body {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.75);
  z-index: 1002;

  display: flex;
  align-items: center;
  justify-content: center;
}

.about-modal {
  width: 900px;
  height: 600px;
  background: white;
  text-align: center;
  padding: 0 90px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-modal h1 {
  color: #5B78C9;
  font-size: 50px;
  margin-bottom: 60px;
  width: 400px;
}

.about-modal h2 {
  font-weight: normal;
  font-size: 16px;
}

.about-modal p {
  margin-top: 50px;
}

.modal-btn {
  display: inline-flex;
  width: 200px;
  background: #34D3CC;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  height: 50px;
  justify-content: center;
  align-items: center;
}

.btn {
  display: inline-flex;
  padding: 10px 20px;
  background: #34D3CC;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  height: 60px;
  bottom: 0;
  background-color: #F2F2F2;
}

footer > ul,
footer > ul li {
  display: inline-block;
}

footer > ul {
  position: absolute;
  right: 0;
  display: flex;
}

footer > ul li {
  font-weight: bold;
  font-size: 12px;
  height: 60px;
  box-sizing: border-box;
  cursor: pointer;
  text-transform: uppercase;
  border-left: 1px solid #D7D7D9;
  display: flex;
  align-items: center;
}

footer > ul li:hover {
  background-color: #24D3CD;
  color: white;
}

footer > ul li a {
  text-decoration: none;
  color: black;
}

footer > ul li,
footer > ul li a {
  -webkit-transition: background-color 0.2s linear;
  -moz-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

footer > ul li:hover a,
footer > ul li a:hover {
  color: white;
}

#map {
  background-color: #242426;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 60px;
}

.map-info {
  z-index: 1001;
  position: absolute;
  background: white;
  color: #525868;
  top: 50px;
  left: 50px;
  padding: 20px 40px;
  text-transform: uppercase;
  text-align: right;
}

.map-info h2 {
  display: inline-block;
  font-size: 12px;
  margin-right: 15px;
}

.map-info > div {
  display: flex;
  align-items: center;
}

.map-info-hashtag {
  margin-left: 5px;
  color: #24D3CD;
  font-size: 40px;
  font-weight: bold;
}

.map-info h3 {
  display: inline-block;
  text-transform: none;
}

.map-attributions,
.map-attributions li {
  display: inline-block;
}

.map-info-separator {
  position: relative;
  height: 40px;
}

.map-info-separator hr {
  position: absolute;
  right: 0;
  width: 50px;
  margin: 20px 0;
  height: 0;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 0;
  border-left: 0;
}

footer > ul li a {
  display: inline-block;
  width: 50px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 10px 15px;
}

.facebook-icon {
  background-image: url(../img/facebookicon.svg);
}

footer > ul li a:hover.facebook-icon {
  background-image: url(../img/facebookicon_white.svg);
}

.twitter-icon {
  background-image: url(../img/twittericon.svg);
  background-size: 15px 20px;
}

footer > ul li a:hover.twitter-icon {
  background-image: url(../img/twittericon_white.svg);
}

.icon-container h3 {
  font-weight: normal;
  font-size: 11px;
  color: #8A8081;
}

.icon-container {
  padding-left: 20px;
}

.icon-container,
.icon-container ul {
  display: flex;
  align-items: center;
}

.icon-container ul {
  margin-right: 30px;
}

.icon-container li {
  margin-left: 15px;
}

.cartodb-icon {
  width: 85px;
}

.fb-icon {
  width: 21px;
  fill: white;
}

.vizzuality-icon {
  width: 100px;
  margin-right: 15px;
}

.pl-icon {
  width: 30px;
}

.instagram-icon {
  width: 23px;
}

div.cartodb-tooltip {
  width: 300px;
  max-width: none;
  text-transform: uppercase;
}

div.cartodb-tooltip-content-wrapper {
  background: #293A7D;
}

div.cartodb-tooltip-content-wrapper h4 {
  color: white;
  font-size: 12px;
}

div.cartodb-tooltip-content-wrapper p,
div.cartodb-tooltip-content-wrapper h4 {
  font-family: 'Roboto', sans-serif;
}

div.cartodb-tooltip-content-wrapper p {
  color: white;
  font-size: 30px;
  font-weight: bold;
}

div.cartodb-tooltip-content-wrapper p:first-of-type {
  margin-bottom: 20px;
}

div.cartodb-tooltip-content {
  padding: 40px 30px;
}

.cartodb-timeslider,
.cartodb-logo,
.leaflet-control-attribution {
  display: none !important;
}

@media (max-width: 767px) {
  .map-info {
    left: 20px;
    top: 20px;
    right: 20px;
  }

  .map-info-hashtag {
    font-size: 25px;
  }

  .cartodb-icon {
    width: 65px;
  }

  .vizzuality-icon {
    width: 75px;
    margin-top: -2px;
  }

  .pl-icon,
  .fb-icon {
    margin-top: -4px;
  }

  .facebook-icon,
  .twitter-icon {
    width: auto;
    height: auto;
  }

  .icon-container li,
  .icon-container ul {
    margin: 0;
  }

  .icon-container li {
    margin-right: 10px;
  }

  .icon-container h3 {
    display: none;
  }
}

@media (max-width: 320px) {
  .map-info {
    padding: 20px 25px;
  }

  .map-info h2 {
    font-size: 10px;
  }

  .map-info-hashtag {
    font-size: 20px;
  }

  .cartodb-icon {
    width: 50px;
  }

  .vizzuality-icon {
    width: 57px;
  }

  .pl-icon {
    width: 19px;
  }

  .fb-icon {
    width: 14px;
  }

  .instagram-icon {
    width: 16px;
    margin-top: -3px;
  }
}
