body {
  font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

header {
  position: absolute;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #F2F2F2;
}

header ul,
header ul li {
  display: inline-block;
}

header ul {
  position: absolute;
  right: 0;
  display: flex;
}

header ul li {
  font-weight: bold;
  font-size: 12px;
  height: 60px;
  box-sizing: border-box;
  cursor: pointer;
  text-transform: uppercase;
  border-right: 1px solid #D7D7D9;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

header ul li:last-of-type {
  border: 0;
}

header ul li:hover {
  background-color: #24D3CD;
  color: white;
}

header ul li a {
  text-decoration: none;
  color: black;
}

header ul li,
header ul li a {
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  transition: background 0.2s linear;
}

header ul li:hover a,
header ul li a:hover {
  color: white;
}

#map {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.map-info {
  z-index: 1001;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0 30px 30px 0;
  text-transform: uppercase;
  color: white;
  text-align: right;
}

.map-info h2 {
  display: inline-block;
  font-size: 12px;
}

.map-info-hashtag {
  margin-left: 5px;
  color: #24D3CD;
  font-size: 20px;
  font-weight: bold;
}

.map-info h3 {
  display: inline-block;
  text-transform: none;
}

.map-attributions,
.map-attributions li {
  display: inline-block;
}

.map-info-separator {
  position: relative;
  height: 40px;
}

.map-info-separator hr {
  position: absolute;
  right: 0;
  width: 50px;
  margin: 20px 0;
  height: 0;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 0;
  border-left: 0;
}

.facebook-icon {
  width: 10px;
  height: 15px;
}

.twitter-icon {
  width: 15px;
  height: 13px;
}

.icon-container,
.icon-container ul {
  display: flex;
  align-items: center;
}

.icon-container li {
  margin-left: 15px;
}

.cartodb-icon {
  width: 115px;
}

.fb-icon {
  width: 21px;
  fill: white;
}

.vizzuality-icon {
  width: 100px;
  margin-top: 5px;
}

.pl-icon {
  width: 45px;
}
